<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderSummary">
	
	<!-- 배송자 정보를 입력후, 오더서머리에서 가져갈 pk를 반환해야함 -->	
	<insert id="insert" parameterType="OrderSummary">
		insert into order_summary(order_summary_id,member_id,
		total_pay,pay_method,same,receiver_id)
		values(seq_order_summary.nextval,#{member.member_id},#{total_pay},
		#{pay_method},#{same},#{receiver.receiver_id})
		<!-- 주문요약이 등록되면, 주문 상세 테이블에서 참조할 pk를 반환해야 함 -->
		<selectKey keyColumn="order_summary_id"
		resultType="int" keyProperty="order_summary_id" 
		order="AFTER">
			select seq_order_summary.currval as order_summary_id from dual
		</selectKey>
	</insert>

	
</mapper>












