<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	
	<!-- select -->	
	
	<sql id="select">
		select * from product		
	</sql>
	
	<select id="All" resultType="Product">
		<include refid="select"/>
			order by product_id desc
	</select>
	
	<select id="byId" parameterType="int" resultType="Product">
		<include refid="select"/>
			where product_id=#{product_id}		
	</select>
	
	
	<!-- insert -->	
	<insert id="insert" parameterType="Product">
		insert into product(product_id,category_id,product_name,price,brand,filename)
		values(seq_product.nextval,#{category.category_id},#{product_name},#{price},#{brand},#{filename})
	</insert>
	
	
	
</mapper>